input {
    width: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 32rem;
    padding: 1rem;
  }
  
  .pentagon-canvas {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  
